@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    html{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 65%;
    }

    .age-result{
        margin-left: 55px;
    }
}

@media screen and (min-width: 992px) {
    html{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 600px;
        height: 450px;
    }

    .inputs{
        width: 110px;
        height: 60px;
        font-size: 26px;
    }

    .age-result{
        margin-left: 65px;
    }

    .line{
        width: 90%;
        justify-content: end;
        margin-left: 48px;
        margin-top: 60px;
    }
}